<div class="container h-100">
  <h1 class="mb-3">Edit user profile</h1>
  <div class="row h-100 w-100 justify-content-center align-items-center">
    <div class="form user-form w-50">
      <form [formGroup]="userForm" (ngSubmit)="editUser()">
        <div class="form-group row">
          <div class="col-6">
            <label for="firstName">First name:</label>
            <input type="text" class="form-control" placeholder="Enter first name" id="firstName" formControlName="firstName">
            <small *ngIf="userForm.get('firstName').errors?.required" class="text-danger">First name is required</small>
            <small *ngIf="userForm.get('firstName').errors?.minlength" class="text-danger">First name must be longer that 2 letters</small>
          </div>
          <div class="col-6">
            <label for="lastName">Last name:</label>
            <input type="text" class="form-control" placeholder="Enter last name" id="lastName" formControlName="lastName">
            <small *ngIf="userForm.get('lastName').errors?.required" class="text-danger">Last name is required</small>
            <small *ngIf="userForm.get('lastName').errors?.minlength" class="text-danger">Last name must be longer that 2 letters</small>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="password" formControlName="password">
          <small *ngIf="userForm.get('password').errors?.required" class="text-danger">Password is required</small>
          <small *ngIf="userForm.get('password').errors?.minlength" class="text-danger">Password must be longer that 5 letters</small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
